[Unit]
Description=demo fastapi application
After=network.target

[Service]
User=fastapi-pseqbm
Group=fastapi-pseqbm
WorkingDirectory=/home/fastapi-pseqbm/app/src/
Environment="PATH=/home/fastapi-pseqbm/app/venv/bin"
EnvironmentFile=/home/fastapi-pseqbm/.env
ExecStart=/home/fastapi-pseqbm/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target

